<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.vn.plaudible"
      android:versionCode="15"
      android:versionName="3.4">
    <application android:label="@string/app_name"
                 android:description="@string/app_desc" 
                 android:icon="@drawable/podcast2">
                 
        <activity android:name=".FeedViewerActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsSourcesActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsSourcesTabActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReorderNewsSourcesPageActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MarkedListManagerActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchPage"
                  android:label="@string/app_name"
                  android:configChanges="orientation"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ArticleViewerActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsSpeakPreferencesActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".SpeechService"></service>
    </application>
   
    <uses-sdk android:minSdkVersion="7" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
 </manifest> 